<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pass_reset_form</title>
</head>
<body>
    <main>
        <section>
            <h1>パスワードリセット</h1>
            <form th:action="@{/user/password_reset_confirm}" method="post">
                <div>
                    <p>登録済みのユーザーのメールアドレスとパスワードを入力して下さい</p>
                </div>
                <div>
                    <input type="text" name="userEmail" placeholder="メールアドレス">
                </div>
                <div>
                    <input type="text" name="userPassword" placeholder="パスワード">
                </div>
				<div th:if="${error}">
				    <p th:text="${error}"></p>
				</div>
                <div>
                    <button type="submit">送信</button>
                </div>
                <div>
                    <button>戻る</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>