<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_list</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <header>
        <nav>
            <li>サイトアイコン</li>
            <li th:text="${userName}">ユーザー名</li>
            <li><a>マイページ</a></li>
            <li><a>講座一覧</a></li>
            <li><a>カート</a></li>
			<li><a th:href="@{/user/logout}">ログアウト</a></li>
        </nav>
    </header>
    <main>
        <p>講座一覧</p>
        <form action="#" method="post" enctype="multipart/form-data">
            <img src="img/me.png" alt="">
            <div>
                <p>java初心者コース</p>
            </div>
            <div>
                <p>値段 : 12000円</p>
            </div>
            <button>詳細</button>
            <button>カートに追加</button>
        </form>
        <form action="#" method="post" enctype="multipart/form-data">
            <img src="img/me.png" alt="">
            <div>
                <p>JavaScript初心者コース</p>
            </div>
            <div>
                <p>値段 : 12000円</p>
            </div>
            <button>詳細</button>
            <button>カートに追加</button>
        </form>
        <form action="#" method="post" enctype="multipart/form-data">
            <img src="img/me.png" alt="">
            <div>
                <p>CSS初心者コース</p>
            </div>
            <div>
                <p>値段 : 12000円</p>
            </div>
            <button>詳細</button>
            <button>カートに追加</button>
        </form>
        <form action="#" method="post" enctype="multipart/form-data">
            <img src="img/me.png" alt="">
            <div>
                <p>css初心者コース</p>
            </div>
            <div>
                <p>値段 : 12000円</p>
            </div>
            <button>詳細</button>
            <button>カートに追加</button>
        </form>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
</body>

</html>