<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_list</title>
	<link rel="stylesheet" th:href="@{/css/user/product.css}">
</head>

<body>
    <header>
        <nav>
            <li>サイトアイコン</li>
            <li th:text="${userName}">ユーザー名</li>
            <li><a>マイページ</a></li>
            <li><a>講座一覧</a></li>
            <li><a>カート</a></li>
			<li><a th:href="@{/user/logout}">ログアウト</a></li>
        </nav>
    </header>
    <main>
        <p>講座一覧</p>
		<form th:each="product : ${productList}" enctype="multipart/form-data">
		    <img th:src="@{/course-img/{image}(image=${product.courseImage})}" alt="">
		    <div>
		        <p th:text="${product.courseName}">java初心者コース</p>
		    </div>
		    <div>
		        <p th:text="'値段 : ' + ${product.courseFee} + '円'">値段 : 12000円</p>
		    </div>
			<button type="button" th:onclick="|location.href='/user/product/detail/' + ${product.courseId}|">詳細</button>
		    <button>カートに追加</button>
		</form>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
</body>

</html>