<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_login</title>
</head>
<body>
    <header>
        <h1>ログイン</h1>
    </header>
    <main>
        <section>
            <form th:action="@{/user/login/process}" method="post">
                <div>
                    <label for="userEmail">メールアドレス</label>
                    <input type="text" name="userEmail" id="email" placeholder="メールアドレスを記入">
                </div>
                <div>
                    <label for="userPassword">パスワード</label>
                    <input type="text" name="userPassword" id="password" aria-placeholder="パスワードを記入">
                </div>
				<p class="error-message" th:if="${error}">メール又はパスワードが間違っている</p>
                <div>
                    <button type="submit">ログイン</button>
                </div>
                <div>
                    <a th:href="@{/user/register}">新規登録はこちら</a>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
</body>
</html>