<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_register_confirm</title>
	<link rel="stylesheet" th:href="@{/css/user/register.css}">
</head>
<body>
	<header>
	    <a href="user_login.html"><img src="img/IT_logo.png" alt=""></a>
	    <p class="site-name">ITコース販売サイト</p>
	</header>
	<main>
	    <div class="container">
	        <div class="wrapper">
	            <div class="title">登録内容確認</div>
	            <form action="user_login.html" method="#">
	                <div class="confirm">
	                    <p>ユーザー名 : <span th:text="${notConfirmedUser.userName}"></p>
	                </div>
	                <div class="confirm">
	                    <p>メールアドレス : <span th:text="${notConfirmedUser.userEmail}"></p>
	                </div>
	                <div class="button-gourp">
	                    <button class="confirm-button" onClick="location.href='/user/register/process'">登録する</button>
	                    <button class="return" onClick="location.href='/user/register'">戻る</button>
	                </div>
	            </form>
	        </div>
	        <div class="copyright">
	            <small>copyright&copy;EC-site@2024 Team A - All right reserved</small>
	        </div>
	    </div>
	</main>
</body>
</html>