<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_register</title>
</head>
<body>
    <header>
        <h1>登録</h1>
    </header>
    <main>
        <section>
            <form th:action="@{/user/confirm}" method="post">
                <div>
                    <label for="userName">名前</label>
                    <input type="text" name="userName" id="userName" placeholder="名前を記入">
                </div>
                <div>
                    <label for="userEmail">メールアドレス</label>
                    <input type="text" name="userEmail" id="userEmail" placeholder="メールアドレスを記入">
                </div>
                <div>
                    <label for="userPassword">パスワード</label>
                    <input type="text" name="userPassword" id="userPassword" placeholder="パスワードを記入">
                </div>
				<div>
				    <label for="userTelephone">電話番号</label>
				    <input type="text" name="userTelephone" id="userTelephone" placeholder="電話番号を記入">
				</div>
                <div>
                    <button type="submit">新規登録</button>
                </div>
                <div>
                    <a th:href="@{/user/password_reset}">アカウント再登録はこちら</a>
                </div>
				<div th:if="${error}">
				    <p th:text="${error}"></p>
				</div>
            </form>
        </section>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
</body>
</html>