<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart_list</title>
    <link rel="stylesheet" href="css/user/product.css">
</head>

<body>
    <header>
        <nav>
            <li>サイトアイコン</li>
            <li>ユーザー名</li>
            <li>マイページ</li>
            <li>講座一覧</li>
            <li>カート</li>
        </nav>
    </header>
    <main>
        <h2>カート一覧</h2>
        <form action="#" method="post" enctype="multipart/form-data" class="cart-item">
            <img src="img/coffee.jpg" alt="" class="cart-item-img">
            <div class="cart-course-info">
                <p>時間 : 2024/06/04 12:00 ~ 1400</p>
                <p>HTML初心者コース</p>
                <p>値段 : 12000円</p>
                <button class="cart-list-delete-btn">削除</button>
            </div>
        </form>
        <form action="#" method="post" enctype="multipart/form-data" class="cart-item">
            <img src="img/lemon.jpg" alt="" class="cart-item-img">
            <div class="cart-course-info">
                <p>時間 : 2024/06/04 12:00 ~ 1400</p>
                <p>HTML中級者コース</p>
                <p>値段 : 16000円</p>
                <button class="cart-list-delete-btn">削除</button>
            </div>
        </form>
        <hr>
        <div class="total-money">
            <p>合計金額 : 28000円</p>
        </div>
        <div class="cart-list-btn-container">
            <button>購入</button>
            <button class="back-btn">戻る</button>
        </div>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
</body>

</html>