<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>order-history-detail</title>
  <link rel="stylesheet" th:href="@{/css/user/history.css}">
</head>

<body>
	<header>
		<nav class="nav-list">
	    	<div class="left-items">
	        	<li><img th:src="@{/img/IT_logo.png}" alt=""></li>
	            <li><p class="site-name">ITコース販売サイト</p></li>
	         </div>
	         <div class="right-items">
	            <li th:text="${userName}"></li>
	            <li><a th:href="@{/user/product/list}"><i class="fa-solid fa-shop"></i>講座一覧</a></li>
	            <li><a th:href="@{/user/cart}"><i class="fa-solid fa-cart-shopping"></i>カート一覧</a></li>
	            <li class="user-menu">
	            <a th:href="@{/user/mypage}"><i class="fa-solid fa-user-tie"></i>マイページ</a>
	            	<ul class="dropdown">
	                	<li><a th:href="@{/user/logout}"><i class="fa-solid fa-right-from-bracket"></i>ログアウト</a></li>
	                </ul>
	            </li>
	         </div>
	    </nav>
	</header>
	<main>
	    <div class="title">
	      <h2>注文詳細</h2>
	    </div>
	    <div class="confirm-contents-container">
	      <ul>
	        <li th:each="item : ${transItem}">
	          <div class="buy-item">
	            <img th:src="@{/course-img/{image}(image=${item.course.courseImage})}" alt="" class="buy-item-img">
	            <div class="buy-course-info">
	              <p th:text="'時間 : ' + ${item.course.startDate} + ' ' + ${item.course.startTime} + ' ~ ' + ${item.course.finishTime}"> </p>
	
	              <p th:text="${item.course.courseName}"></p>
	
	              <p th:text="'値段 : ' + ${item.course.courseFee} + '円'"></p>
	              <button class="course-detail" th:onclick="|location.href='/user/product/detail/' + ${item.course.courseId}|">コース詳細</button>
	            </div>
	          </div>
	        </li>
	      </ul>
	    </div>
		<hr>
	    <div class="total-buy-container">
			<p th:text="'合計 : ' + ${transItem.size()} + '点'"></p>
			<p th:text="'合計金額 : ' + ${transHistory.amount} + '円'"></p>
	    </div>
	
	    <div class="back-btn-container">
	    	<button class="back-btn" onclick="history.back();">戻る</button>
	    </div>
	</main>
	<footer>
    	<small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
	</footer>
	<script src="https://kit.fontawesome.com/06d9b8b269.js" crossorigin="anonymous"></script>
	<script src="js/code.js"></script>
</body>

</html>