<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pass_reset_success</title>
    <link rel="stylesheet" th:href="@{/css/user/password.css}">
</head>
<body>
    <header>
        <a th:href="@{/user/login}"><img th:src="@{/img/IT_logo.png}" alt=""></a>
        <p class="site-name">ITコース販売サイト</p>
    </header>
    <main>
        <div class="text">
            <p>新しいパスワードを登録成功。</p>
            <div class="add-more">
                <a th:href="@{/user/login}"><button>ログインへ</button></a>
            </div>
        </div>
    </main>
</body>
</html>