<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pass_reset_form</title>
    <link rel="stylesheet" th:href="@{/css/user/password.css}">
</head>
<body>
    <header>
        <a th:href="@{/user/login}"><img th:src="@{/img/IT_logo.png}" alt=""></a>
        <p class="site-name">ITコース販売サイト</p>
    </header>
    <main>
        <div class="container">
            <div class="wrapper">
                <div class="title">パスワード再設定</div>
                <form th:action="@{/user/password_reset_process}" method="post">
                    <p>新しいパスワードを入力してください</p>
                    <div class="row">
                        <i class="fas fa-lock"></i>  
                        <input type="password" name="newPassword" id="password" placeholder="パスワード" required>
                    </div>
                    <div class="row">
                        <i class="fas fa-unlock"></i>   
                        <input type="password" name="confirmPassword" id="email" placeholder="もう一度パスワード" required>
                    </div>
                     <p class="error-message" th:if="${error}">入力したパスワードが一致してない</p>
                     <div class="button-gourp">
                        <button class="confirm-button">確認</button>
                        <button class="return" onClick="location.href='/user/password_reset'">戻る</button>
                    </div>
                </form>
            </div>
            <div class="copyright">
                <small>copyright&copy;EC-site@2024 Team A - All right reserved</small>
            </div>
        </div>
    </main>
	<script src="https://kit.fontawesome.com/06d9b8b269.js" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script> 
</body>
</html>
