<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_detail</title>
    <link rel="stylesheet" th:href="@{/css/user/product.css}">
</head>

<body>
	<header>
		<nav class="nav-list">
	    	<div class="left-items">
	        	<li><img th:src="@{/img/IT_logo.png}" alt=""></li>
	            <li><p class="site-name">ITコース販売サイト</p></li>
	         </div>
	         <div class="right-items">
	            <li th:text="${userName}"></li>
	            <li><a th:href="@{/user/product/list}"><i class="fa-solid fa-shop"></i>講座一覧</a></li>
	            <li><a th:href="@{/user/cart}"><i class="fa-solid fa-cart-shopping"></i>カート一覧</a></li>
	            <li class="user-menu">
	            <i class="fa-solid fa-user-tie"></i>マイページ
	            	<ul class="dropdown">
	                	<li><a th:href="@{/user/logout}"><i class="fa-solid fa-right-from-bracket"></i>ログアウト</a></li>
	                </ul>
	            </li>
	         </div>
	    </nav>
	</header>
    <main>
        <form th:action="@{/add-to-cart/process}" method="post" enctype="multipart/form-data" class="detail-form" >
            <div class="title">
                <p th:text="${courseName}"> </p>
            </div>
			<div class="course-detail-img">
			    <img th:src="@{/course-img/{image}(image=${product.courseImage})}" alt="">
			</div>
			<div>
			    <p>開催日 : <span th:text="${product.startDate}"></span></p>
			</div>
			<div>
			    <p>開始時間 : <span th:text="${product.startTime}"></span></p>
			</div>
			<div>
			    <p>終了時間 : <span th:text="${product.finishTime}"></span></p>
			</div>
			<div>
			    <p>値段 : <span th:text="${product.courseFee}"></span>円</p>
			</div>
            <div>
                <p class="detail">講座詳細：</p>
				<textarea readonly rows="5" cols="33" th:text="${product.courseDetail}"></textarea>
            </div>
            <div class="btn-container">
				<input type="hidden" name="courseId" th:value="${product.courseId}" />
                <button class="add" onClick="cartCheck()"　>カートに追加</button>
				<button class="back" onclick="history.back();" type="button">戻る</button>
            </div>
        </form>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
    <script src="https://kit.fontawesome.com/06d9b8b269.js" crossorigin="anonymous"></script>
	<script>
	    function cartCheck() {
	        alert('カートに追加しました。')
	    }
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
				integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script>
</body>

</html>