<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>order-history</title>
  <link rel="stylesheet" th:href="@{/css/user/history.css}">
</head>

<body>
	<header>
		<nav class="nav-list">
	    	<div class="left-items">
	        	<li><img th:src="@{/img/IT_logo.png}" alt=""></li>
	            <li><p class="site-name">ITコース販売サイト</p></li>
	         </div>
	         <div class="right-items">
	            <li th:text="${userName}"></li>
	            <li><a th:href="@{/user/product/list}"><i class="fa-solid fa-shop"></i>講座一覧</a></li>
	            <li><a th:href="@{/user/cart}"><i class="fa-solid fa-cart-shopping"></i>カート一覧</a></li>
	            <li class="user-menu">
	            <a th:href="@{/user/mypage}"><i class="fa-solid fa-user-tie"></i>マイページ</a>
	            	<ul class="dropdown">
	                	<li><a th:href="@{/user/logout}"><i class="fa-solid fa-right-from-bracket"></i>ログアウト</a></li>
	                </ul>
	            </li>
	         </div>
	    </nav>
	</header>
	<main>
	    <div class="title">
	    	<h2>注文一覧</h2>
	    </div>
    	<div class="order-container" th:each="transHis : ${transHistory}">
        	<div class="order">
        		<div class="order-header">
          			<span th:text="'日付 : ' + ${#temporals.format(transHis.transactionDate, 'yyyy/MM/dd')} + '  時間 : ' + ${#temporals.format(transHis.transactionDate, 'HH:mm')}"> </span>
        		</div>
        		<div class="order-details">
          			<p>購入内容：</p>
          			<div class="order-item" th:each="item : ${transHis.items}">
	            		<span th:text="${item.course.courseName}"> </span>
	            		<span th:text="'金額: '+ ${item.course.courseFee} + '円'"> </span>
          			</div>
        		</div>
        		<div class="total-buy">
          			<p　th:text="'合計金額: '+ ${transHis.amount} + '円'"> </p>
        		</div>
        		<div class="detail-btn">
          			<button th:onclick="|location.href='/user/history/' + ${transHis.transactionId}|">詳細</button>
        		</div>
      		</div>
    	</div>
	</main>
	<footer>
    	<small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
	</footer>
  	<script src="https://kit.fontawesome.com/06d9b8b269.js" crossorigin="anonymous"></script>
  	<script src="js/code.js"></script>
</body>

</html>