@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* 共通部分のCSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #FFE1C6;
}

main  {
    display: flex;
     /* 子要素を縦方向（上から下）に並べる */
     flex-direction: column;
    /* 子要素を(縦方向)に中央に配置する */
    justify-content: center;
    /* 子要素を横方向に中央に配置する設定。 */
    align-items: center;
  }

header {
    background-color: #F7C242; 
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-items {
    display: flex;
    margin-left: 10px;
}

.left-items img {
    width: 100px; 
    height:100px; 
    margin-left: 10px;
}

.left-items p {
    margin: 40px 0 0 0;
    font-size: 24px;
    color: white; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.right-items {
    display: flex;
    margin-right: 20px; 
}

.right-items li{
    color: #fff;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

header .right-items li a {
    color: #fff;
    text-decoration: none;
}

.right-items i {
    color: #847d6f;
    margin-right: 10px;
    font-size: 20px;
}

.dropdown {
    display: none; 
    position: absolute; 
    background-color: #F7C242; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
    right: 0; 
    min-width: 180px;
}

.dropdown li {
    display: flex;
    font-size: 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.dropdown li i {
    margin-right: 10px;
}

.user-menu:hover .dropdown {
    display: block;
}

footer {
    background-color: #F7C242;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
} 

footer small {
    font-size: 0.8em;
}

/* ここからは講座詳細一覧のCSS */

.detail-form {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFE1C6;
    text-align: center;
}

.detail-form p{
    font-size: 20px;
    margin-bottom: 5px;
}

.title p {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.course-detail-img img {
    width: 100%;
    width: 350px;
    height: 300px;
    margin-bottom: 20px;
  }
  
.detail {
    text-align: left;
}

textarea{
    resize: none;
    width: 100%;
    height: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
  }

  
  
/* すべてのボタン */
button {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    /* マウス様子 */
    cursor: pointer;
    /* 効果 */
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #4CAF50;
    color: white;
    margin: 7px;
  }

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #1abc22;
  } 
  
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
   
.btn-container button {
    margin: auto 10%;
    font-size: 18px;
  }
   
.back {
    background-color: #846d6d;
    color: #fff;
  }
  
.back:hover {
    background-color: #787575;
  }

  /* ここからはproduct_listのcss */

  
.title h2 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.empty-message {
  color: #ff2600;
  font-size: 28px;
  margin-bottom: 10px;
}

.course-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.course-item {
  display: flex;
  /* 子要素を縦方向（上から下）に並べる */
  flex-direction: column;
  /* 横方向に中央に配置する設定 */
  align-items: center;
  width: 45%;
  margin: 20px;
  padding: 20px;
}

.course-item p {
  font-size: 18px;
  margin: 10px;
}

.list-course-img {
  width: 100%;
  max-width: 300px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-btn-container {
  display: flex;
  justify-content: center;
  margin: 5px; 
}

.list-btn-container button {
  margin: 10px; 
  font-size: 14px;
}

.list-detail {
  background-color: #d3480d;
}

.list-detail:hover {
  background-color: #ff2600;
}

 /* ここからはcart_listのcss */

 .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.cart-item-img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  margin-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-course-info p {
  margin: 10px 0;
  font-size: 20px;
}

.cart-delete-btn{
  align-self: flex-end;
  background-color: #ea7911;
}

.cart-delete-btn:hover{
  background-color: #c40606;
}

.cart-delete-btn i {
  margin-right: 5px;
}

hr {
  border: none;
  height: 2px;
  background-color: #333;
  width: 100%;
  margin-bottom: 25px;
}

.total{
  display: flex;
  align-self: flex-end;
}
.total p{
  margin-right: 20px;
}

.cart-btn-container button{
  font-size: 18px;
  margin: 30px 70px;
}
