@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    background-color: #EF2929;
    padding: 10px 0;
}

.header-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-item {
    margin-left: 20px;
}

.right-items {
    display: flex;
    margin-right: 20px;
}

.header-list li {
    display: inline;
}

.header-list a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.header-list a:hover {
    background-color: #ab5a5a;
}

body {
    background-color: #FFF1E4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

.title p {
    color: #4B5CF7;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin: 30px;
    text-shadow: #4B5CF7 1px 0 10px;
    letter-spacing: 5px;
  }

  
.add {
    text-align: right;
    margin-bottom: 10px;
}

.add button {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
    background-color: #B4E9B9;
    border: 1px solid #B4E9B9;
    border-radius: 5px;
    cursor: pointer;
} 

.add button:hover {
    background-color: #67b570;
}

.contents table { 
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }

.contents th {
    font-size: 18px;
    background-color: #33D390;
    color: #fff;
    padding: 20px;
    border-bottom: 2px solid #2aa475;
  }

.contents tr:nth-child(even) {
    background-color: #B4E9B9;
}

.contents tr:nth-child(odd) {
    background-color: #7bd184;
}

.contents tr:hover {
    background-color: #e9e9e9;
}

  
.contents td {
    font-size: 20px;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
}

.contents td button {
    font-size: 18px;
    color: #fff;
    background-color: #94BFFF;
    border: 1px solid #94BFFF; 
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.contents td button:hover {
    background-color: #2266cb;
}
  
footer {
    background-color: #EF2929;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer small {
    font-size: 0.8em;
}

/* ここのcssは各finishのhtmlのため */

.text {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    font-size: 22px;
    background-color: #FFE1C6;
    padding: 100px; 
    border-radius: 10px;
    text-align: center;
    margin: 100px auto;
    border: 1px solid #FFF1E4;
    
  }
  
  .text p {
    margin-bottom: 30px; 
  }
  
  .add-more button {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 20px;
    background-color: #B4E9B9;
    border: 1px solid #B4E9B9;
    border-radius: 5px;
    cursor: pointer; 
  }
  


