<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_register_confirm</title>
    <link rel="stylesheet" th:href="@{/css/admin/register.css}">
</head>
<body>
    <main>
        <div class="container">
            <div class="wrapper">
                <div class="title">登録内容確認</div>
                <form th:action="@{/admin/register/process}" method="post">
                    <div class="confirm">
                        <p th:text="'管理者名　: '+${adminName}"></p>
                    </div>
                    <div class="confirm">
                        <p th:text="'メールアドレス　: '+${adminEmail}"></p>
                    </div>
                    <div class="button-gourp">
                        <button class="confirm-button" onclick="confirmRegister()">登録する</button>
                        <button class="return" onclick="history.back();" type="button">戻る</button>
                    </div>
                </form>
            </div>
            <div class="copyright">
                <small>copyright&copy;EC-site@2024 Team A - All right reserved</small>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/06d9b8b269.js" crossorigin="anonymous"></script>
    <script>
        function confirmRegister() {
            alert('登録完了しました。')
        }

    </script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script>
</body>
</html>