<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course_edit_confirm</title>
    <link rel="stylesheet" th:href="@{/css/admin/course.css}">
</head>
<body>
	<header>
	    <ul class="header-list">
	        <li class="left-item"><a href="#" th:text="${adminName}+'  ようこそ！'"></a></li>
	        <div class="right-items">
	            <li><a th:href="@{/admin/course/list}">講座一覧</a></li>
	            <li><a th:href="@{/admin/logout}">ログアウト</a></li>
	        </div>
	    </ul>
	</header>
    <main>
        <div class="text">
            <p>講座の編集が完了しました。</p>
        </div>
    </main>
    <footer>
        <small>copyright&copy;EC-site@2024 Team A-All right reserved</small>
    </footer>
</body>
</html>