@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #FFD9D9;;
} 

header {
    background-color: #EF2929;
    padding: 10px 0;
}

.header-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-item {
    margin-left: 20px;
}

.right-items {
    display: flex;
    margin-right: 20px;
}

.header-list li {
    display: inline;
}

.header-list a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.header-list a:hover {
    background-color: #ab5a5a;
}

footer {
    background-color: #EF2929;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer small {
    font-size: 0.8em;
}

/* ここのcssはregisterとeditのhtmlのため */

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFD9D9;
}

.title p{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 30px;
    text-shadow: #F2A3A3 1px 0 10px;
    letter-spacing: 5px;
}

.form-top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.left-top {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-top img {
    width: 100%;
    height: auto;
    max-width: 270px;
    margin-bottom: 20px;
}

.left-top input[type="file"] {
    margin-bottom: 20px;
    margin-left: 15px;
}

.right-top {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 10px; 
    margin-bottom: 15px;
}


.right-form label {
    font-weight: bold;
    background-color: #F2A3A3;
    border: 1px bold #F2A3A3;
    font-size: 18px;
    margin-right: 10px;
}

.right-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}


.form-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
    align-items: center;
}

.form-bottom label {
    font-weight: bold;
    background-color: #F2A3A3;
    border: 1px bold #F2A3A3;
    font-size: 18px;
}

.form-bottom textarea {
    resize: none;
    width: 100%;
    height: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    padding: 0 20px; 
}

.confirm-button, .return {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}

.confirm-button {
    background-color: #94BFFF;
    color: #fff;
}

.confirm-button:hover {
    background-color: #2266cb;
}

.return {
    background-color: #B4E9B9;
    color: #fff;
}

.return:hover {
    background-color: #278f4f;
}
.delete-form {
    text-align: center;
    margin-bottom: 80px;
}
.delete {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #EF2929;
    color: #fff;
}

.delete:hover {
    background-color: #b90303; 
}
