@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    background-color: #F7C242; 
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-items {
    display: flex;
    margin-left: 10px;
}

.left-items img {
    width: 100px; 
    height:100px; 
    margin-left: 10px;
}

.left-items p {
    margin: 40px 0 0 0;
    font-size: 24px;
    color: white; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.right-items {
    display: flex;
    margin-right: 20px; 
}

.right-items li{
    color: #fff;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.right-items i {
    color: #847d6f;
    margin-right: 10px;
    font-size: 20px;
}

.dropdown {
    display: none; 
    position: absolute; 
    background-color: #F7C242; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
    right: 0; 
    min-width: 180px;
}

.dropdown li {
    display: flex;
    font-size: 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.dropdown li i {
    margin-right: 10px;
}

.user-menu:hover .dropdown {
    display: block;
}

footer {
    background-color: #F7C242;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer small {
    font-size: 0.8em;
}