@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* 共通部分のCSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #FFE1C6;
}

main  {
    display: flex;
     /* 子要素を縦方向（上から下）に並べる */
     flex-direction: column;
    /* 子要素を(縦方向)に中央に配置する */
    justify-content: center;
    /* 子要素を横方向に中央に配置する設定。 */
    align-items: center;
    width: 100%;
  }

header {
    background-color: #F7C242; 
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-items {
    display: flex;
    margin-left: 10px;
}

.left-items img {
    width: 100px; 
    height:100px; 
    margin-left: 10px;
}

.left-items p {
    margin: 40px 0 0 0;
    font-size: 24px;
    color: white; 
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.right-items {
    display: flex;
    margin-right: 20px; 
}

.right-items li{
    color: #fff;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.right-items i {
    color: #847d6f;
    margin-right: 10px;
    font-size: 20px;
}

.dropdown {
    display: none; 
    position: absolute; 
    background-color: #F7C242; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
    right: 0; 
    min-width: 180px;
}

.dropdown li {
    display: flex;
    font-size: 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.dropdown li i {
    margin-right: 10px;
}

.user-menu:hover .dropdown {
    display: block;
}

footer {
    background-color: #F7C242;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
} 

footer small {
    font-size: 0.8em;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    /* マウス様子 */
    cursor: pointer;
    /* 効果 */
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #4CAF50;
    color: white;
    margin: 7px;
  }

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #1abc22;
  } 
  
.btn-container{
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
   
.btn-container button {
    margin: 20px;
    font-size: 16px;
  }
   
.back {
    background-color: #846d6d;
    color: #fff;
  }
  
.back:hover {
    background-color: #787575;
  }

/* payment-selection page */

.pay-process{
    text-align: center;
     margin-top: 60px;
     font-size: 25px;
   }
   
   .mark{
     color: #3FBD4C;
   }
   
   .other-process{
     color: #c0c0c0;
   }
   
   .pay-selection {
     margin: 20px;
     background-color: #EFBB24;
     padding: 60px;
     display: flex;
     font-size: 30px;
     align-items: center;
     
   }
   
   .pay-selection p {
     margin-right: 20px;
   }
   
   .selection-options {
     display: flex;
     flex-direction: column;
   }

   .selection-options i {
    margin-right: 5px;
  }
   
   .option {
     margin: 20px;
     display: flex;
     /* 子要素を横方向に中央に配置する設定。 */
     align-items: center;
     margin-bottom: 10px;
   }
   
   .option input {
     margin-right: 10px;
   }
   
   
   /* payment-confirm page */
   .confirm-contents-container{
    padding: 20px;
     display: flex;
     justify-content: center;
   }
   
   ul{
     /* デフォルトの箇条書きの点を削除する */
     list-style-type: none; 
   }
   
   li {
     margin: 15px 0; 
   }

   .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .cart-item-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .cart-course-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .cart-course-info p {
    margin: 10px 0;
    font-size: 18px;
  }
   
  .separate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  .separate p{
    font-size: 18px;
  }
  
  .separate i{
    margin: 0 5px;
  }
  
  hr {
    border: none;
    height: 2px;
    background-color: #333;
    width: 100%;
    margin-bottom: 25px;
  }

  /* payment_success page */

  .success-message {
    margin: 20px;
     background-color: #EFBB24;
     padding: 100px;
     font-size: 30px;
     align-items: center;
  }
  .myPage {
    background-color: #F7C242;
  }

  .myPage:hover {
    background-color: #ffb300;
  }