* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main  {
  display: flex;
   /* 子要素を縦方向（上から下）に並べる */
   flex-direction: column;
  /* 子要素を(縦方向)に中央に配置する */
  justify-content: center;
  /* 子要素を横方向に中央に配置する設定。 */
  align-items: center;
  padding: 15px;

}

.course-detail-img {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-bottom: 20px;
}

.course-detail-img img {
  width: 100%;
  height: auto;
  max-height: 400px; 
  object-fit: contain; /* 元のアスペクト比（縦横比）を維持され */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  /* 高さだけ調整可能*/
  resize: vertical;
  outline: none;
}



.product-detail-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


/* すべてのボタン */
button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  /* マウス様子 */
  cursor: pointer;
  /* 効果 */
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #4CAF50;
  color: white;
  margin: 7px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #45a049;
}

h2{
  margin-bottom: 10px;
}

img{
  margin: 15px;
}

.add-cart-btn {
  margin-right: 70px;
  margin-left: 10px;
}


.back-btn {
  background-color: #e0e0e0;
  color: #333;
}

.back-btn:hover {
  background-color: #c0c0c0;
}

.list-to-detail-btn{
  background-color: #e0e0e0;
  color: #333;
}

.list-to-detail-btn:hover {
  background-color: #c0c0c0;
}

.course-list-container{
  display: flex;
  justify-content: center;
  /* 水平方向に展開 */
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.course-item{
  display: flex;
  /* 子要素を縦方向（上から下）に並べる */
  flex-direction: column;
  /* 横方向に中央に配置する設定 */
  align-items: center;
  width: 45%;
  margin: 1%;
  padding: 20px;
  border-radius: 8px;
}

.list-course-img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.cart-item-img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cart-course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-course-info p {
  margin: 5px 0;
}

.cart-list-delete-btn{
 /* 終端に揃えます*/
  align-self: flex-end;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
  width: 100%;
  margin-bottom: 15px;
}

.total-money {
   /* 終端に揃えます*/
  align-self: flex-end;
}



.cart-list-btn-container button{
  font-size: 18px;
  margin: 15px 70px;
}

/* payment-selection page */

.pay-process{
 text-align: center;
  margin-top: 60px;
  font-size: 25px;
}

.mark{
  color: #3FBD4C;
}

.other-process{
  color: #c0c0c0;
}

.pay-selection {
  margin: 10% auto 5%;
 background-color: aquamarine;
 padding: 80px;
  display: flex;
  font-size: 30px;
  align-items: center;
  
}

.pay-selection p {
  margin-right: 20px;
}

.selection-options {
  display: flex;
  flex-direction: column;
}

.option {
  margin: 20px;
  display: flex;
  /* 子要素を横方向に中央に配置する設定。 */
  align-items: center;
  margin-bottom: 10px;
}

.option input {
  margin-right: 10px;
}

.payment-selection-btn-container {
  display: flex;
  justify-content: center;
}

.payment-selection-btn-container button {
  margin: auto 10%;
  font-size: 18px;
}

/* payment-confirm page */
.confirm-contents-container{
  display: flex;
  justify-content: center;
}

ul{
  /* デフォルトの箇条書きの点を削除する */
  list-style-type: none; 
}

li {
  margin: 15px 0; 
}

.payment-confirm-selection{
 display: inline-block;
 background-color: aquamarine;
 padding: 20px;
 margin-left: 20%;
 font-size: 18px;
}

.confirm-total-money{
  display: inline-block;
  
  margin-right: 5%;
}